<ion-view style="background:white">
    <!--headerTitle start-->
    <div page-loading></div>
    <header>
        <div ng-if="h5Page" style="float:left;margin-top:4%;margin-left:2%;font-size:0.34rem;"
             ng-click="returnRootNative()">&lt;返回
        </div>
        <h1>{{elderName}}</h1>
        <em></em>
    </header>
    <div class="empty10"></div>
    <!--headerTitle end-->
    <!--content start-->
    <div ng-if="diagnoseReportResult">
        <div class="ordinaryTit">
            <span>诊疗记录</span>
        </div>
        <div class="resultContDate">{{diagnoseReportResultData.recordDate.substring(0,10)}}</div>
        <section class="resultContainer bgf">
            <div class="reportListTit">责任医生：<span>{{testReportResultData.providerName}}</span>记录时间：<span>{{diagnoseReportResultData.recordDate.substring(11,20)}}</span></div>
            <audio id="diagnoseAudio" class="diagnoseAudio" ng-src="{{diagnoseReportResultData.audioUrl}}"
                   controls="controls" style="display:none;">
            </audio>
            <div class="diagnoseAudioCtrl" ng-click="audioCtrl()">
                <img ng-hide="paused" src="/elder/images/triangle_2@2x.png" alt="">
                <img ng-show="paused" src="/elder/images/triangle_3@2x.png" alt="">
            </div>
            <div class="diagnoseAudioTime">{{duration}}</div>
        </section>
        <section ng-if="diagnoseReportResultData.description" class="resultContText">
            <div>文字记录</div>
            <p>{{diagnoseReportResultData.description}}</p>
        </section>
    </div>
    <!--content end-->
</ion-view>