<ion-view style="background:#f8f8f8;">
    <div>
        <div class="bar bar-header" style="background:#f8f8f8;height:70px;">
            <div class="title" style="height:70px;line-height:70px;text-align:left;">
                请把您的意见反馈给我们。
            </div>
        </div>
        <label class="item item-input" style="margin-top:75px;">
            <textarea name="" cols="30" rows="20" placeholder="请输入…" ng-model="content"></textarea>
        </label>
        <button class="button button-full button-energized subscribe-btn" style="margin-top:80px;" ng-click="submit()">确认提交</button>
    </div>

    <goback-menu></goback-menu>

</ion-view>