<ion-view style="background:#f8f8f8;">
	<ion-header-bar align-title="center" class="bar-energized">
		<div class="buttons">
			<button class="button" ng-click="returnRootNative()">&lt;返回</button>
		</div>
		<h1 class="title">{{groupName}}</h1>
		<div class="buttons">
			<i class="icon ion-ios-people" ng-click="groupList()" style="font-size: 230%"></i>
		</div>
	</ion-header-bar>
	<div class="empty10"></div>
	<ion-scroll delegate-handle="chat-content" style="height:85%">
		<div class="chat"
			 ng-repeat="item in param.messageList"
			 style="background:transparent;border-color:transparent">
			<div ng-if="item.from!='elder'" style="margin-top:10px">
				<img style="margin-left:15px;width:60px;height:60px"
					 ng-src="{{item.ext.user_img}}?x-oss-process=image/resize,m_fill,h_50,w_50">
				<h2 style="margin-left:85px;margin-top:-60px;font-size:16px;">
					{{item.ext.user_nice_name}}
				</h2>
				<br>
				<ul></ul>
				<span>{{item.data}}</span>
			</div>
			<div ng-if="item.from=='elder'" style="margin-top:10px">
				<img style="margin-right:15px;width:60px;height:60px;float:right;z-index:2"
					 ng-src="{{item.ext.user_img}}?x-oss-process=image/resize,m_fill,h_50,w_50">
				<h2 style="margin-right:10px;margin-top:-1px;font-size:16px;float:right">
					{{item.ext.user_nice_name}}
				</h2>
				<br><br>
				<ul style="float:right;right:80px;border-radius: 0px 0px 25px 0px;margin-top:90px"></ul>
				<span style="float:right;margin-right:15px;margin-left:0px;">{{item.data}}</span>
			</div>
		</div>
	</ion-scroll>
	<div class="tabs tabs-icon-top" ng-style="param.chatStyle">
		<a class="tab-item" style="max-width:15%">
			<i class="icon ion-volume-high"></i>
		</a>
		<a class="tab-item" style="max-width:70%">
			<input ng-model="param.chatMessage" type="text" style="width:100%" placeholder="聊天内容">
		</a>
		<a class="tab-item" style="max-width:15%" ng-if="param.chatMessage==''" ng-click="addPhoto()">
			<i class="icon ion-ios-plus-outline"></i>
		</a>
		<a class="tab-item" style="max-width:15%" ng-if="param.chatMessage!=''">
			<button class="button button-small button-balanced" ng-click="sendMessage()">发送</button>
		</a>
	</div>
	<div class="row">
		<div class="col" style="background:#ddd;max-width:60px;margin-left:5%;border-radius:10px 10px">
			<i class="icon ion-image" style="font-size:35px;margin-left:10px"></i>
			<span style="margin-left:-32px;top:24px;position:relative;color:black">相册</span>
		</div>
		<div class="col" style="background:#ddd;max-width:60px;margin-left:5%;border-radius:10px 10px">
			<i class="icon ion-camera" style="font-size:35px;margin-left:10px"></i>
			<span style="margin-left:-32px;top:24px;position:relative;color:black">拍摄</span>
		</div>
		<div class="col"></div>
		<div class="col"></div>
	</div>
</ion-view>