<ion-view style="background:#f8f8f8;">
    <goback-menu></goback-menu>
    <ion-content>
    <!--课程列表-->
    <div>
        <div ng-if="param.myCourseList.length==0"
             class="list card">
            <div class="item item-body">
                <img class="full-image"
                     src="http://yhllaoyouactivity.oss-cn-beijing.aliyuncs.com/head/QQ%E5%9B%BE%E7%89%8720171106093303.png">
                <p style="margin-left:30%;font-size:18px;color:#ff8e01">您还未参加课程</p>
                <button class="button button-energized"
                        style="margin-left:37%;border-radius:20px" ui-sref="courseList({type:'vod'})">查看课程</button>
            </div>
        </div>
        <div ng-if="param.myCourseList.length>0">
            <div class="list courseList">
                <a class="item item-image"
                   style="min-height:50px;padding:2%;"
                   ng-repeat="item in param.myCourseList"
                   ui-sref="courseDetail({courseId:item.onlineCourseDTO.onlineCourseId})">
                    <img ng-if="$index%3==1" src="images/course_bj02.png">
                    <img ng-if="$index%3==2" src="images/course_bj03.png">
                    <img ng-if="$index%3==0" src="images/course_bj01.png">
                    <div class="courseCont">
                        <h2>{{item.onlineCourseDTO.onlineCourseName}}</h2>
                        <p>{{item.onlineCourseDTO.onlineCourseStudyNum}}人已上课</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </ion-content>
</ion-view>