<ion-view style="background:white;">
	<ion-header-bar align-title="center" class="bar-energized">
		<div class="buttons">
			<button class="button" ng-click="returnRootNative()">&lt;返回</button>
		</div>
		<h1 class="title">我的服务</h1>
	</ion-header-bar>

	<div class="tabs tabs-top tabs-striped" style="padding-top:2%;">
		<a ng-class="{true:'tab-item active',false:'tab-item'}[param.tabValue=='inReview']" style="border-color:#ff8e01" ng-click="chooseTab('inReview')">
			<p style="margin-top:-10px">审核中</p>
		</a>
		<a ng-class="{true:'tab-item active',false:'tab-item'}[param.tabValue=='inService']" style="border-color:#ff8e01" ng-click="chooseTab('inService')">
			<p style="margin-top:-10px">服务中</p>
		</a>
		<a ng-class="{true:'tab-item active',false:'tab-item'}[param.tabValue=='finished']" style="border-color:#ff8e01" ng-click="chooseTab('finished')">
			<p style="margin-top:-10px">已完成</p>
		</a>
		<a ng-class="{true:'tab-item active',false:'tab-item'}[param.tabValue=='failed']" style="border-color:#ff8e01" ng-click="chooseTab('failed')">
			<p style="margin-top:-10px">未成功</p>
		</a>
	</div>
    <ion-content style="margin-top:13%;color:#000;">
		<div class="list" ng-if="param.tabValue=='inReview'">
			<a class="item" ng-repeat="item in inReviewResponse">
                <div>
                    <i class="">{{item.id}}</i>
                    <i class="item-note">当面结算</i>
                </div>
                <div style="margin-top:2%;">
                    <div class="item-content">
                        <i class="">{{item.name}}</i>
                        <i class="item-note">
                            <p class="text-right">￥{{item.price}}元/{{item.priceUnit}}</p>
                        </i>
                    </div>
                    <p style="margin:3% 0;white-space:normal;">正在等待{{item.officeName}}电话联系您并确认接收服务预约</p>
                    <div class="item-content">
                        <i class="">预约时间：{{item.create_date | date:'yyyy年MM月dd日 HH:mm'}}</i>
                        <i class="item-note" ng-click="sendMessage(item.id)">催审核</i>
                    </div>
                </div>
			</a>
		</div>
        <div class="list" ng-if="param.tabValue=='inService'">
            <a class="item" ng-repeat="item in inServiceResponse">
                <div>
                    <i class="">{{item.id}}</i>
                    <i class="item-note">当面结算</i>
                </div>
                <div style="margin-top:2%;">
                    <div class="item-content">
                        <i class="">{{item.name}}</i>
                        <i class="item-note">
                            <p class="text-right">￥{{item.discountPrice}}元/{{item.discountPriceUnit}}</p>
                        </i>
                    </div>
                    <p style="margin:3% 0;white-space:normal;">{{item.officeName}}已接收您的预约，将与您当面结算并签约</p>
                    <div class="item-content">
                        <i class="">护理师：{{item.nurse}}<br/><br/>服务时间：{{item.serviceTime | date:'yyyy年MM月dd日 HH:mm'}}</i>
                        <i class="item-note">成功享受服务</i>
                    </div>
                </div>
            </a>
        </div>
        <div class="list" ng-if="param.tabValue=='finished'">
            <a class="item" ng-repeat="item in finishedResponse">
                <div>
                    <i class="">{{item.id}}</i>
                    <i class="item-note">当面结算</i>
                </div>
                <div style="margin-top:2%;">
                    <div class="item-content">
                        <i class="">{{item.name}}</i>
                        <i class="item-note text-right">
                            <p class="">优惠价：￥{{item.discountPrice}}元/{{item.discountPriceUnit}}</p>
                            <del>￥{{item.price}}元/{{item.priceUnit}}</del>
                        </i>
                    </div>
                    <p style="margin:3% 0;white-space:normal;">{{item.officeName}}收到您的服务费，并确认本次交易生效</p>
                    <div class="item-content">
                        <i class="">护理师：{{item.nurse}}<br/><br/>服务时间：{{item.serviceTime | date:'yyyy年MM月dd日 HH:mm'}}</i>
                        <i class="item-note" ng-click="delOrder(item.id)">删除订单</i>
                    </div>
                </div>
            </a>
        </div>
        <div class="list" ng-if="param.tabValue=='failed'">
            <a class="item" ng-repeat="item in failedResponse">
                <div>
                    <i class="">{{item.id}}</i>
                    <i class="item-note">当面结算</i>
                </div>
                <div style="margin-top:2%;">
                    <div class="item-content">
                        <i class="">{{item.name}}</i>
                        <i class="item-note">
                            <p class="text-right">￥{{item.price}}元/{{item.priceUnit}}</p>
                        </i>
                    </div>
                    <p style="margin:3% 0;white-space:normal;">{{item.officeName}}拒绝了您的预约，原因是“
                        <span ng-if="item.refusal">{{item.refusal}}</span>
                        <span ng-if="item.unpaid">{{item.unpaid}}</span>
                        ”</p>
                    <div class="item-content">
                        <i class="">预约时间：{{item.create_date | date:'yyyy年MM月dd日 HH:mm'}}</i>
                        <i class="item-note" ng-click="delOrder(item.id)">删除订单</i>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>