<ion-view style="background:#f8f8f8;">
    <h2 class="myself_serviceTit">我的服务</h2>
    <div class="tabs tabs-top tabs-striped myselfTab">
        <a class="tab-item" ui-sref="myService({type:'inReview'})">
            <img src="images/myself_icon01.png">
            <p>审核中</p>
            <span ng-if="inReviewSize" class="flg">{{inReviewSize}}</span>
        </a>
        <a class="tab-item" ui-sref="myService({type:'inService'})">
            <img src="images/myself_icon02.png">
            <p>服务中</p>
            <span ng-if="inServiceSize" class="flg">{{inServiceSize}}</span>
        </a>
        <a class="tab-item" ui-sref="myService({type:'finished'})">
            <img src="images/myself_icon03.png">
            <p>已完成</p>
            <!--<span ng-if="finishedSize" class="flg">{{finishedSize}}</span>-->
        </a>
        <a class="tab-item" ui-sref="myService({type:'failed'})">
            <img src="images/myself_icon04.png">
            <p>未成功</p>
            <span ng-if="failedSize" class="flg">{{failedSize}}</span>
        </a>
    </div>
    <div class="list myselfList" style="margin-top:32%;color:black">
        <a class="item item-icon-left item-icon-right"
           ui-sref="myActivity">
            <i class="icon">
                <img src="images/laoyou_icon_02.png">
            </i>
            我的活动
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-left item-icon-right"
            ui-sref="myClass">
            <i class="icon">
                <img src="images/laoyou_icon_03.png">
            </i>
            我的课程
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-left item-icon-right"
           ui-sref="extendMessage" style="margin-top:10px;">
            <i class="icon">
                <img src="images/laoyou_icon_05.png">
            </i>
            消息中心
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-left item-icon-right"
            ui-sref="feedback">
            <i class="icon">
                <img src="images/laoyou_icon_04.png">
            </i>
            意见反馈
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-left item-icon-right" style="margin-top:10px;"
            href="http://hlsenior.com.cn/elder/aboutUs">
            <i class="icon">
                <img src="images/laoyou_icon_01.png">
            </i>
            关于老友
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
</ion-view>