<ion-view style="background:#f8f8f8;">
    <div class="tabs tabs-top tabs-striped" style="top:0px;background:#fff;">
        <a ng-class="{true:'tab-item active',false:'tab-item'}[param.type=='short']"
           style="border-color:#ff8e01"
           ng-click="chooseLivingService('short')">
            <p>短时服务</p>
        </a>
        <a ng-class="{true:'tab-item active',false:'tab-item'}[param.type=='long']"
           style="border-color:#ff8e01"
           ng-click="chooseLivingService('long')">
            <p>长期照护</p>
        </a>
    </div>
    <ion-content style="margin-top:62px">
        <ion-refresher pulling-text="下拉刷新" on-refresh="sortService()"></ion-refresher>
        <div class="list" ng-if="param.type=='short'">
            <a class="item item-avatar item-text-wrap"
               ng-repeat="item in shortResponse" ng-click="livingServiceDetail(item.id)">
                <h2 class="serviceListTit">
                    <span>{{item.name}}</span>
                    <span><em>¥{{item.price}}元</em><i>/{{item.priceUnit}}</i></span>
                </h2>
                <p>{{item.description}}</p>
                <p><i class="icon"></i>{{item.officeName}}</p>
            </a>
            <ion-infinite-scroll ng-if="param.canMoreShort" on-infinite="loadMoreShort()" distance="1%" ></ion-infinite-scroll>
        </div>
        <div class="list" ng-if="param.type=='long'">
            <a class="item item-avatar item-text-wrap"
               ng-repeat="item in longResponse" ng-click="livingServiceDetail(item.id)">
                <h2 class="serviceListTit">
                    <span>{{item.name}}</span>
                    <span><em>¥{{item.price}}元</em><i>/{{item.priceUnit}}</i></span>
                </h2>
                <p>{{item.description}}</p>
                <p><i class="icon"></i>{{item.officeName}}</p>
            </a>
            <ion-infinite-scroll ng-if="param.canMoreLong" on-infinite="loadMoreLong()" distance="1%" ></ion-infinite-scroll>
        </div>
        <div style="height:88px;"></div>
    </ion-content>
    <div class="bar bar-footer bar-stable" style="height:110px;">
        <div class="title" ng-if="param.type == 'short'" style="font-size: 14px;">共为您加载{{shortResponse.length}}条数据</div>
        <div class="title" ng-if="param.type == 'long'" style="font-size: 14px;">共为您加载{{longResponse.length}}条数据</div>
        <div class="filtrateBtn" ng-click="sortShow()">筛选</div>
    </div>
</ion-view>
<div class="filtrateArea">
    <div class="bar bar-header">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="sortHide()"></button>
        <h1 class="title">服务筛选</h1>
    </div>
    <div style="margin-top:70px;">
        <div ng-repeat="sortOption in sortList" class="sortDiv" ng-click="sortService()">
            <input type="radio" name="sort" id="{{sortOption.id}}" value="{{sortOption.value}}" ng-model="param.sort" style="display:none;">
            <label for="{{sortOption.id}}" class="button button-light" style="width:100%;">{{sortOption.name}}</label>
        </div>
    </div>
</div>


