<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.core.mapper.RemindTemplateMapper">

	<insert id="addRemindTemplate">
		INSERT INTO`remind_template`
		(`icon`,`title`,`content`,`uri`)
		VALUES
		(#{icon},#{title},#{content},#{uri})
	</insert>

	<select id="getRemindTemplateEntityByID"
			resultType="com.wisdom.common.dto.core.entity.RemindTemplateEntity">
			SELECT `id`,`icon`, `title`, `content`, `uri`, `create_by`, `create_date`, `update_date`, `del_flage`
			FROM`remind_template`
			WHERE  `id`=#{ID}
	</select>

	<select id="getRemindTemplateEntityList"
			resultType="com.wisdom.common.dto.core.entity.RemindTemplateEntity">
		SELECT `id`, `icon`,`title`, `content`, `uri`, `create_by`, `create_date`, `update_date`, `del_flage`
		FROM`remind_template`
		WHERE  del_flage!=`1`
		<if test="title !=null and title !=''">
			AND (title like  CONCAT(CONCAT('%', #{title}), '%')
		</if>
		<if test="sartUpdateDate !=null and sartUpdateDate !='' and endUpdateDate !=null and endUpdateDate !=''">
			AND update_date &gt; #{sartUpdateDate} AND update_date &lt; #{endUpdateDate}
		</if>
	</select>

	<update id="updateRemindTemplate">
		UPDATE notification_template SET
		update_date=now()
		<if test="icon!= ''and icon!=null">
			,icon=#{icon}
		</if>
		<if test="title!= ''and title!=null">
			,title=#{title}
		</if>
		<if test="content!= '' and content!=null">
			,content=#{content}
		</if>
		<if test="uri!= '' and uri!=null">
			,uri=#{uri}
		</if>
		WHERE id = #{id}
	</update>

	<update id="deleteRemindTemplate">
		UPDATE notification_template SET
		del_flage='1'
		WHERE id = #{id}
	</update>
</mapper>