<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.core.mapper.UserMapper">

    <sql id="userColumns">
		a.id,
		a.login_name,
		a.password,
		a.gender,
		a.name,
		a.age,
		a.email,
		a.phone,
		a.mobile,
		a.area,
		a.photo,
		a.login_ip,
		a.login_date,
		a.login_flag,
		a.create_by ,
		a.create_date,
		a.update_by,
		a.update_date,
		a.remarks,
		a.del_flag
	</sql>


    <!-- 根据编号获得用户 -->
    <select id="get" resultType="com.wisdom.common.dto.core.user.UserInfoDTO">
        SELECT
        *
        FROM sys_user a
        WHERE a.id = #{id}
    </select>

    <!-- 根据登录名查询用户 -->
    <select id="getByLoginName"
            resultType="com.wisdom.common.dto.core.user.UserInfoDTO"
            parameterType="com.wisdom.common.dto.core.user.UserInfoDTO">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        WHERE a.login_name = #{loginName} AND a.del_flag = "0"
    </select>


    <!-- 查询全部用户 -->
    <select id="findAllList" resultType="com.wisdom.common.dto.core.user.UserInfoDTO">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        WHERE a.del_flag = #{DEL_FLAG_NORMAL}
        ORDER BY c.code, o.code, a.name
    </select>

    <!-- 查询全部用户数目 -->
    <select id="findAllCount" resultType="long">
		SELECT
			COUNT(1)
		FROM sys_user a
		WHERE a.del_flag = #{DEL_FLAG_NORMAL}
	</select>

    <!-- 插入用户 -->
    <insert id="insert">
        INSERT INTO sys_user(
        id,
        login_name,
        phone,
        login_ip,
        login_date,
        create_date,
        update_date
        <if test="name != null and name !=''">
            ,name
        </if>
        <if test="gender != null and gender !=''">
            ,gender
        </if>
        <if test="area != null and area !=''">
            ,area
        </if>
        <if test="address != null and address !=''">
            ,address
        </if>
        <if test="email != null and email !=''">
            ,email
        </if>
        ) VALUES (
        #{id},
        #{loginName},
        #{phone},
        #{loginIp},
        now(),
        now(),
        now()
        <if test="name != null and name !=''">
            ,#{name}
        </if>
        <if test="gender != null and gender !=''">
            ,#{gender}
        </if>
        <if test="area != null and area !=''">
            ,#{area}
        </if>
        <if test="address != null and address !=''">
            ,#{address}
        </if>
        <if test="email != null and email !=''">
            ,#{email}
        </if>
        )
    </insert>

    <!-- 更新用户 -->
    <update id="update">
		UPDATE sys_user SET
			office_id = #{office.id},
			login_name = #{loginName},
			password = #{password},
			no = #{no},
			name = #{name},
			email = #{email},
			phone = #{phone},
			mobile = #{mobile},
			user_type = #{userType},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			login_flag = #{loginFlag},
			photo = #{photo},
			openid=#{openid}
		WHERE id = #{id}
	</update>


    <!-- 更新用户信息  -->
    <update id="updateUserInfo">
		UPDATE sys_user SET
			email = #{email},
			phone = #{phone},
			mobile = #{mobile},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			photo = #{photo}
		WHERE id = #{id}
	</update>

    <!-- 更新用户密码 -->
    <update id="updatePasswordById">
		UPDATE sys_user SET
			password = #{password}
		WHERE id = #{id}
	</update>

    <!-- 更新登录信息，如登录IP、登录时间 -->
    <update id="updateLoginInfo">
		UPDATE sys_user SET
			login_ip = #{loginIp},
			login_Date = #{loginDate}
		WHERE id = #{id}
	</update>

    <!-- 逻辑删除用户 -->
    <update id="delete">
		UPDATE sys_user SET
			del_flag=1
		WHERE id = #{id}
	</update>

    <update id="updateUser">
        UPDATE sys_user SET
        update_date=now()
        <if test="photo!= ''and photo!=null">
            ,photo=#{photo}
        </if>
        <if test="name!= ''and name!=null">
            ,name=#{name}
        </if>
        <if test="gender!= '' and gender!=null">
            ,gender=#{gender}
        </if>
        <if test="age!= '' and age!=null">
            ,age=#{age}
        </if>
        <if test="area!= '' and area!=null">
            ,area=#{area}
        </if>
        <if test="address!= '' and address!=null">
            ,address=#{address}
        </if>
        <if test="email!= '' and email!=null">
            ,email=#{email}
        </if>
        <if test="phone!= '' and phone!=null">
            ,login_name=#{phone}
            ,phone=#{phone}
        </if>
        WHERE id = #{id}
    </update>

    <select id="getUserByInfo"
            parameterType="com.wisdom.common.dto.core.user.ElderUserDTO"
            resultType="com.wisdom.common.dto.core.user.UserInfoDTO">
        SELECT su.* FROM sys_elder_user seu left join sys_user su on su.id = seu.sys_user_id where 1=1
        <if test="memberCardID != null and memberCardID !=''">
            and seu.memberCardID = #{memberCardID}
        </if>
    </select>

</mapper>