<ion-view style="background:#f8f8f8;">
    <goback-menu></goback-menu>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div class="list courseList">
            <a class="item item-image"
               style="min-height:50px;padding:2%;"
               ng-repeat="item in onlineCourseList"
               ui-sref="courseDetail({courseId:item.onlineCourseId})">
                <img ng-if="$index%3==1" src="images/course_bj02.png">
                <img ng-if="$index%3==2" src="images/course_bj03.png">
                <img ng-if="$index%3==0" src="images/course_bj01.png">
                <div class="courseCont">
                    <h2>{{item.onlineCourseName}}</h2>
                    <p>{{item.onlineCourseStudyNum}}人已上课</p>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>


