<ion-view style="background:white;">
    <ion-header-bar align-title="center" class="bar-energized" style="height:15%">
    </ion-header-bar>
    <h1 style="position:absolute;z-index:10;margin-top:18%;margin-left:42%;font-size:18px">{{rootElderName}}</h1>
    <img ng-src="{{rootElderImg}}?x-oss-process=image/resize,m_fill,h_95,w_95"
         style="position:absolute;z-index:999;margin-top:9%;margin-left:8%;border-radius:50px;border:5px solid #f8f8f8;">
    <i class="icon ion-ios-gear larger"
       style="position:absolute;margin-left:86%;z-index:30;margin-top:14%;font-size:40px"></i>
    <div class="item item-text-wrap"
         style="margin-top:26%"
         ui-sref="myselfInfo">
        <i class="icon ion-ios-paper-outline" style="margin-left:40%;color:#ff8e01;"></i>
        <span style="font-size:13px;color:black;position:absolute;margin-left:5px">个人信息</span>
    </div>
    <div class="tabs tabs-top tabs-striped" style="margin-top:28%;height:15%">
        <a ng-class="{true:'tab-item active',false:'tab-item'}[param.tabValue=='message']"
           style="border-color:#ff8e01" ng-click="chooseTab('message')">
            <img style="margin-left:30%;margin-top:10%"
                 ng-src="{{param.messageImg}}?x-oss-process=image/resize,m_fill,h_50,w_50">
            <p style="margin-top:-10px">我的消息</p>
        </a>
        <a ng-class="{true:'tab-item active',false:'tab-item'}[param.tabValue=='active']" style="border-color:#ff8e01" ng-click="chooseTab('active')">
            <img style="margin-left:30%;margin-top:10%"
                 ng-src="{{param.activeImg}}?x-oss-process=image/resize,m_fill,h_50,w_50">
            <p style="margin-top:-10px">我的活动</p>
        </a>
        <a ng-class="{true:'tab-item active',false:'tab-item'}[param.tabValue=='course']" style="border-color:#ff8e01" ng-click="chooseTab('course')">
            <img style="margin-left:30%;margin-top:10%"
                 ng-src="{{param.courseImg}}?x-oss-process=image/resize,m_fill,h_50,w_50">
            <p style="margin-top:-10px">我的课程</p>
        </a>
    </div>
    <div ng-if="param.tabValue=='message'">
        <div class="list" style="margin-top:26%;color:black">
            <a class="item item-icon-left item-icon-right"
               ui-sref="notification">
                <i class="icon">
                    <img src="http://yhllaoyouactivity.oss-cn-beijing.aliyuncs.com/head/%E8%80%81%E5%8F%8B%E6%8F%90%E9%86%92%E5%A4%B4%E5%83%8F@2x.png?x-oss-process=image/resize,m_fill,h_40,w_40">
                </i>
                &nbsp;提醒
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right">
                <i class="icon">
                    <img src="http://yhllaoyouactivity.oss-cn-beijing.aliyuncs.com/head/%E9%80%9A%E7%9F%A5%E5%A4%B4%E5%83%8F@2x.png?x-oss-process=image/resize,m_fill,h_40,w_40">
                </i>
                &nbsp;通知
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </div>
    <div ng-if="param.tabValue=='active'">
        <div class="list" style="margin-top:26%">
            <a class="item item-thumbnail-left"
               style="min-height:40px;color:black;margin-left:-90px">
                <span style="font-size:18px;position:absolute">最近发布</span>
            </a>
            <a class="item item-thumbnail-left"
               style="min-height:145px"
               ng-repeat="item in param.recentPublishActive">
                <img ng-src="{{item.activityOwnerLogo}}?x-oss-process=image/resize,m_fill,h_50,w_50">
                <h2>{{item.activityName}}</h2>
                <span style="background:#ffc900;padding: 5px 10px 5px 10px;position: absolute;margin-top:1%;border-radius:10px">{{item.activityAttendedNum}}人参加</span>
                <i class="icon ion-location" style="margin-top:40px;position:absolute;color:#ff8e01;font-size:20px"></i>
                <span style="color:black;word-break:normal;white-space:pre-wrap;overflow:hidden;display:block;width:90%;margin-top:42px;margin-left:15px;position:relative;font-size:14px">{{item.activityAddress}}</span>
                <i class="icon ion-clock" style="margin-top:5px;position:absolute;color:#ff8e01;font-size:14px">&nbsp;<span style="color: black">{{item.activityEndDate|date:'yyyy/MM/dd HH:mm'}}</span></i>
            </a>
        </div>
        <div class="list" style="margin-top:-22px;position:relative">
            <a class="item item-thumbnail-left"
               style="min-height:40px;color:black;margin-left:-90px">
                <span style="font-size:18px;position:absolute">最近参加</span>
            </a>
            <a class="item item-thumbnail-left"
               style="min-height:145px"
               ng-repeat="item in param.recentAttendActive">
                <img ng-src="{{item.activityOwnerLogo}}?x-oss-process=image/resize,m_fill,h_50,w_50">
                <h2>{{item.activityName}}</h2>
                <span style="background:#ffc900;padding: 5px 10px 5px 10px;position: absolute;margin-top:1%;border-radius:10px">{{item.activityAttendedNum}}人参加</span>
                <i class="icon ion-location" style="margin-top:40px;position:absolute;color:#ff8e01;font-size:20px"></i>
                <span style="color:black;word-break:normal;white-space:pre-wrap;overflow:hidden;display:block;width:90%;margin-top:42px;margin-left:15px;position:relative;font-size:14px">{{item.activityAddress}}</span>
                <i class="icon ion-clock" style="margin-top:5px;position:absolute;color:#ff8e01;font-size:14px">&nbsp;<span style="color: black">{{item.activityEndDate|date:'yyyy/MM/dd HH:mm'}}</span></i>
            </a>
        </div>
    </div>
    <div ng-if="param.tabValue=='course'">
        <div ng-if="param.myCourseList.length==0"
             class="list card"
             style="margin-top:28%">
            <div class="item item-body">
                <img class="full-image"
                     src="http://yhllaoyouactivity.oss-cn-beijing.aliyuncs.com/head/QQ%E5%9B%BE%E7%89%8720171106093303.png">
                <p style="margin-left:30%;font-size:18px;color:#ff8e01">您还未参加课程</p>
                <button class="button button-energized"
                        style="margin-left:37%;border-radius:20px" ui-sref="courseList({type:'vod'})">查看课程</button>
            </div>
        </div>
        <div ng-if="param.myCourseList.length>0" style="margin-top:26%">
            <div class="list">
                <style>
                    .talkOdd {
                        background-color: white;
                    }
                    .talkEven {
                        background-color: #f8f8f8;
                    }
                </style>
                <a class="item item-avatar item-text-wrap"
                   ng-repeat="item in param.myCourseList"
                   ui-sref="courseDetail({courseId:item.onlineCourseDTO.onlineCourseId,courseType:'vod'})"
                   ng-class-odd="'talkOdd'"
                   ng-class-even="'talkEven'">
                    <img ng-src="{{item.onlineCourseDTO.onlineCourseLogo}}"
                         style="max-width:50px;max-height:50px;border-radius:0;margin-left:-5px;">
                    <h2>{{item.onlineCourseDTO.onlineCourseName}}</h2>
                    <p>课程提供方：{{item.onlineCourseDTO.onlineCourseProvider}}</p>
                    <span class="item-note"
                          style="text-align:right;margin-top:-10px">
                    <p>{{item.onlineCourseDTO.onlineCourseStudyNum}}人学习</p>
                </span>
                    <p>授课老师：{{item.onlineCourseDTO.onlineCourseTeacherName}}</p>
                </a>
            </div>
        </div>
    </div>
</ion-view>