<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.user.mapper.DaHanTricomMessageMapper">

	<insert id="insertIdentifying">
	INSERT INTO `validate_code` (`mobile`, `code`, `create_date`)
			VALUES (#{PhoneNum}, #{Identifying}, now())
	</insert>

	<select id="searchIdentify" resultType="java.lang.Integer">
		select count(*) from validate_code
		where mobile=#{PhoneNum} and code= #{Identifying}
		and create_date > DATE_SUB(now(),INTERVAL 10 MINUTE)
	</select>

</mapper>