<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.community.mapper.ActivityDiscussMapper">

    <insert id="addActivityDiscuss">
		INSERT INTO
		`activity_discuss`
		(`activity_id`, `openID`, `content`)
	  	VALUES (#{activityID},#{openID}, #{content})
	</insert>


    <select id="getActivityDiscussList" resultType="com.wisdom.common.dto.community.activity.ActivityDiscussDTO">
		select ad.id,ad.activity_id as activityId,ad.create_date as discussDate,ad.content as discussContent,openID
		 from activity_discuss ad
		where ad.activity_id=#{id}
		ORDER BY discussDate DESC
		limit #{page}
	</select>


	<insert id="addActivityDiscussReply">
		INSERT INTO `activity_discuss_reply` (`activity_discuss_id`, `openID`, `content`)
		VALUES
		(#{activityDiscussID}, #{openID}, #{discussContent})
	</insert>

	<select id="getActivityDiscussReplyList" resultType="com.wisdom.common.dto.community.activity.ActivityDiscussReplyDTO">
		select adr.activity_discuss_id as activityDiscussID,adr.openID,adr.create_date as replyDate,adr.content as replyContent
		from activity_discuss_reply adr
		where adr.activity_discuss_id=#{activityDiscussID}
	</select>

</mapper>