<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.community.mapper.ActivityUserMapper">

	<insert id="addActivityUser">
		INSERT INTO`activity_user`
		(`activity_id`,
		`openID`)
		VALUES (
		#{activityID},
		#{openID})
	</insert>

	<select id="getActivityCountByID" resultType="int">
		select count(*) from activity_user au
		where au.activity_id=#{activityID}
		<if test="openID != null and openID != ''">
			and au.openid=#{openID}
		</if>
	</select>

	<select id="getActivityUserList" resultType="com.wisdom.common.dto.basic.ActivityUser">
		select au.id,au.activity_id,au.sys_elder_user_id as sysElderUserID,
		 au.phoneNum,au.createDate,su.name  from activity_user au
		inner join sys_elder_user seu on au.sys_elder_user_id=seu.id
		inner join sys_user su on seu.sys_user_id=su.id
		where au.activity_id=#{activityID}
	</select>

</mapper>