<ion-view>
    <ion-content>
        <div class="news_article">
            <div ng-if="id=='1'">
                <h3>好心情对老人有多重要</h3>
                <p>在生活中，每一个人都会有变老的一天。所以我们一定要重视老年人朋友的一些问题，平时没有什么事情的时候也要多多关心老人。同时老人保持良好的情绪，对于身体健康极为重要。就老人常见的慢性病而言，就与老人心态息息相关。</p>
                <img src="/images/newsImg01.jpg" alt="">
                <h4>高度焦虑诱发心脏病</h4>
                <p>心脏病患者以老年人居多，其典型的表现为胸闷、气急、疲惫无力等症状，严重者甚至会出现心绞痛、急性心肌梗死。许多医学研究发现，高度焦虑的人出现心绞痛发病率为低焦虑者的2倍。而许多冠心病患者，就是由于不良情绪的刺激而出现心绞痛和心肌梗死，导致突然死亡。所以在平时的生活里面，老人一定要保持好的心态，不要过于焦虑。</p>
                <h4>“坏”脾气导致高血压</h4>
                <p>不良情绪可使心跳加快，血压升高。而高血压又是中老年人的常见疾病，更是人类死亡的主要疾病之一。当老年人受到严重精神创伤，出现愤怒、焦虑、仇恨等激动情绪时，很可能诱发血压突然升高，严重可引发脑卒中、心力衰竭、猝死等。老人要注意自己的坏脾气，能改就尽量去改掉。</p>
                <h4>“气”出来的糖尿病</h4>
                <p>医学资料显示，因心理因素而发病的糖尿病患者占总体人数的60%以上，如产生暴怒、焦虑、悲伤等情绪，使得血糖浓度升高，引起机体代谢功能紊乱。此外，高血糖促使其胰腺分泌胰岛素，使得疲乏的胰腺进一步受伤，使糖尿病者病情加重。</p>
                <p>大家看完以上的介绍后，是不是也觉得在生活中老人一定要保持好的心情呢？坏脾气对我们人体的影响也是非常大的，我们一定要控制好自己的情绪。特别是老人的身体也比较弱，老年人朋友一定要保持良好的情绪，开开心心的过好每一天。</p>
            </div>
            <div ng-if="id=='2'">
                <h3>“将就”镶牙后患多</h3>
                <p>近日发现各大医院口腔科门诊人满为患。据专家介绍，因为要过年了，大家每天都与美味相伴，牙齿的负担变重了，致使口腔科门诊病人比往常增加了10%。有些平时有龋齿的朋友没有及时进行治疗和修复，随着咀嚼负担变重，在吃着美味食物的时候，一不小心就很容易把牙齿“吃掉”半边。</p>
                <p>医生说，很多缺牙的患者对镶牙的了解和重视不够，有些人贪图便宜或嫌麻烦便将就选择一些并不适合自己口腔情况的假牙，这些不合适的假牙我们称为不良修复体，不良修复体短期内似乎解决了问题，实则后患无穷。</p>
                <img src="/images/newsImg06.jpg" alt="">
                <h4>小心这些不良修复体</h4>
                <p>自凝树脂类。用钢丝弯制成8字型或卡环结扎在缺隙两侧基牙的颈部，缺牙间隙直接用白自凝材料直接填塞，自凝材料进到基牙的倒凹间隙固位，患者无法自行摘戴假牙。</p>
                <p>金属锤造类。用锤造的金属粘接在牙齿的舌颚侧，使整个上颌或下颌的牙连成一个整体，使某些松动的牙齿暂时不脱落。</p>
                <p>不规范的固定桥类。患者只缺一两颗牙却被设计成七八颗甚至更多颗联冠固定桥，严重损害了牙体组织。而且大部分患者修复前未进行完善的根管治疗，固定桥使用一段时间后常常因为牙痛需要治疗而拆除联冠。</p>
                <p>诸如此类的不良修复体还有很多，或许它们短期内有一定的功能，但随着时间的推移，危害性会逐渐体现出来。</p>
                <h4>不良修复体危害大</h4>
                <img src="/images/newsImg07.jpg" alt="">
                <p>不良修复体的危害性主要表现在以下几个方面：</p>
                <p>邻牙龋坏</p>
                <p>不良修复体的钢丝捆在缺牙两侧的基牙的颈部，然后用白自凝材料直接填塞缺牙间隙，不能自行取戴，制作者称之为快速镶牙技术。由于材料本事对口腔健康有害，而且充填体与邻牙有细微的间隙，容易隐藏食物又不易清除，是细菌生长、繁殖的最佳场所，如不及时拆除，很快会引起邻牙龋坏。</p>
                <p>牙周损害</p>
                <p>不良修复体的边缘往往很粗糙，容易滞留食物残渣，有利于细菌的积聚、繁殖，长期刺激牙龈，易引起牙龈的慢性炎症和萎缩。主要症状有牙龈出血、肿胀、粘膜溃烂、食物嵌塞、口腔有臭味。特别注意的是不良修复体对口腔组织的反复刺激还可引起口腔组织癌变。</p>
                <p>牙齿松动</p>
                <p>假牙设计不合理，就不能合理分散口腔咬合力，使口腔中起固位作用的天然牙负荷过重或出现应力集中，超过其代偿潜力，会迅速引起牙槽骨的吸收，导致牙齿的松动甚至脱落。</p>
                <h4>引起颞下颌关节功能紊乱</h4>
                <p>大部分不良修复体的咬合关系较差，有的甚至没有咬合或仅有部分咬合接触。口腔长期处于不平衡的咬合状态，会引起颞下颌关节弹响、疼痛等症状，如得不到及时的纠正和改善，可进一步引起颞下颌关节不可逆的损害。</p>
                <p>专家提醒，缺牙的患者一定要到正规医院接受科学合理的修复设计方案，唯有这样才能保证镶的牙既恢复了缺牙的形态和功能又没有后患。</p>
            </div>
            <div ng-if="id=='3'">
                <h3>老人养生需要避开的四个误区</h3>
                <h4>跑不如走</h4>
                <p>运动有益长寿，但要量力而行。有些老人喜欢在晨练时快跑，这并不值得提倡。因为，跑步时机体耗氧量会增加，易导致呼吸短促、机体缺氧，而大多数老人本身患有不同程度的高血压、支气管炎等慢性疾病，很容易诱发心肌梗塞或脑血管意外。对老人来说，运动的最佳选择是散步，同时甩甩手、拍拍肩膀、扭扭腰胯，适可而止。体质很好的老人可以尝试慢跑，但一定要做好跑前热身和整理运动。</p>
                <h4>听不如唱</h4>
                <p>听个小曲儿排遣寂寞，是不少老年人的爱好。但如果要达到延年益寿的效果，光听就不够了。老人最好选择开口唱出来。经常放声歌唱，除了增加肺活量，一定程度上改善其心肺功能之外，还能提高认知能力，增强思维活力及记忆力。从心理学角度说，唱歌能有效调节情绪：忧伤的歌有助于宣泄不满、压抑，轻快的歌能增加快乐，经典老歌还能唤起人们对青春的回忆，增添朝气，对生活充满希望。</p>
                <img src="/images/newsImg04.jpg" alt="">
                <h4>药补不如食补</h4>
                <p>时下，越来越多的老人追求口服液、维生素片的药补效果，或者过度迷信大补的中药材如人参、黄芪等。实际上，不论哪种保健品，都容易出现成分不明、药不对症、应用过量等弊端。相比之下，食补从日常食物而来，虽见效缓慢，但作用温和。对于身体状况良好的老人来说，只需合理安排三餐，食物新鲜、多样、均衡即可。老年人合理膳食组成包括：每日谷类300克左右、肉禽50克、鱼虾50克、蛋25克、豆及豆制品50克、蔬菜500克、水果250克、奶及奶制品250克、食用油25克。需要注意的是，根据老年人的身体特点，饭菜要软烂、温热，味道清淡。</p>
                <h4>多吃不如好睡</h4>
                <p>民间有句俗语，“吃人参不如睡五更”。意思就是说吃得再好也不如充足的睡眠。老年人随着年龄变化，睡眠时间、睡眠质量都会慢慢下滑，这 需要引起足够的重视。睡眠的好坏将直接关系到老人对疾病的抵抗力。一般情况下，60~80岁的老年人，每天最好睡足6~8小时。但睡眠时间超过10小时以 上或者少于4小时对健康都不利。建议每天21点准备睡觉，22点至23点就寝较佳，最晚不应超过0点。此外，要重视每天的午睡，时间半小时到1小时为佳，睡前可喝一杯白开水。</p>
            </div>

            <div ng-if="id=='4'">
                <h3>老年人腿脚无力怎么回事</h3>
                <p>生活中很多的老年人朋友经常出现腿脚无力的情况，给他们的生活和健康带来了极大的威胁。随着年龄大了，腿脚不灵活的老年人并没有当作一回事，但是需要注意的是双腿无力有可能是疾病的预示，因此不能忽视此种症状。</p>
                <p>很多老年人会出现双腿无力的情况，这有可能是疾病的预示，要多加注意，以下为大家介绍导致老年人双腿无力的原因。</p>
                <img src="/images/newsImg03.jpg" alt="">
                <h4>1、帕金森病</h4>
                <p>帕金森病可表现为行动迟缓，患者也会感觉走路没劲，迈不开步。这其实是由于帕金森出现的僵硬感，肌张力增高，走路不灵活。通常病情初发时，患者会感觉迈不开步子而且腿没劲，但走一走步子就可以迈开。</p>
                <h4>2、脑血管病变</h4>
                <p>对于下肢无力首先要考虑的是单肢还是双侧，如果是突发的单肢无力且不伴有疼痛，则要排除是否由脑血管疾病引起，因为脑血管疾病可能出现偏瘫。另外，双下肢无力也可能出现脑血管疾病。如脑梗死、脑出血等，一定要及时诊治。</p>
                <h4>3、腰椎管狭窄</h4>
                <p>有些老年人，下肢无力且伴有腰腿疼，要考虑腰椎的问题。因为腰椎管狭窄有可能压迫脊髓。老年人腰腿病是常见病，腰椎病也可能是慢慢突出的腰椎压迫到神经，伴有肢体麻木，最后也出现疼痛。建议先到医院做个检查再配合适量锻炼，尤其不可轻易做按摩，以免加重腰椎损伤。</p>
                <h4>4、颈椎脊髓病变</h4>
                <p>有的老人感觉双下肢没劲，走路像踩棉花，深一步浅一步的。坐时间长了或站的时间长一点，就会觉得吃不消，好像随时都可能瘫倒。这时候要留意是不是颈椎的问题。如果是突然两腿不能动，且小便困难，要考虑是否突发脊髓病变，椎体压迫脊髓造成运动神经紊乱，如果不及时治疗，可致瘫痪。</p>
                <p>老年人双腿无力怎么办？</p>
                <h4>1、散步</h4>
                <p>散步对中老年人最易掌握，是一项随时随地都可锻炼的活动。选择空气清新，林木幽静环境，轻松舒展，不紧不慢地信步而来，一定会感到心旷神怡，周身舒爽。参加约会和社会活动，如果路程不远，时间充裕，那就以步当车，及时到达目的地，也是锻炼机体耐力的良好机会。</p>
                <h4>2、健身跑</h4>
                <p>健身跑（即慢跑）的运动量比散步走路大，受到许多中老年人的喜爱，是风靡国内外的强身健体的体育项目。健身跑在开始时应舒展活动一下肢体，放松肌肉，作好准备活动。然后展开双臂前后摆动，协调而又节奏，深而均匀地呼吸。锻炼应从慢至快，时间从短而长，开始初练时慢跑5~10分钟而不觉胸闷气短，然后每天逐渐增加至15~20分钟，每天或隔天一次，最后甚至可增到30~40分钟。慢慢结束后，应缓慢步行或原地踏步，不要马上停下，做好放松整理活动，渐渐恢复到安静状态。</p>
                <h4>3、骑自行车</h4>
                <p>自行车是一项锻炼肌肉（特别是腿部肌肉和关节）的全身性运动。很多中老年人仍将骑自行车作为交通和锻炼身体的两重功能。骑车的速度、距离和次数可根据各人体力酌情而定。但老年人究竟年事逐渐增高，应尽量不在刮风、下雨、严寒或酷暑时锻炼。在交通拥挤地区更要特别注意交通安全和意外。</p>
                <h4>4、游泳</h4>
                <p>游泳是一项比较适于中老年人的全身性健身运动，经常锻炼对身心健康好处很多。游泳活动需要一定设备和环境，开始前应作一次全身体格检查（患严重心肺疾病和传染病者不宜）。游泳时务必做好安全措施，下水前要作准备活动；姿势则各取所好，蛙泳、仰泳或自由泳等均可。运动量可根据个人感觉妥善掌握，游程一般不宜较长，50米即休息一下，总量不超过500米。如能坚持每天或隔天活动，效果较好。坚持适度的游泳锻炼，可增强心肺功能，促使肌肉发达，减少腹部脂肪，保持匀称体型。</p>
            </div>
            <div ng-if="id=='5'">
                <h3>手麻是大病的征兆</h3>
                <p>在看门诊的时候，经常有手麻的患者来咨询，有的是一边，有的是两边。医生，是不是神经出问题了呀？这是手麻患者的第一直觉。的确，出现手麻后，很多人都会意识到，这可能是一种神经病变，事实上，周围神经病变也的确会导致麻木的现象，以对称性远端肢体的麻木为主，最常见于糖尿病周围神经并发症。</p>
                <p>但是糖尿病引起的神经并发症，一般都是双侧，很少有单侧，有时不但手会麻，脚也有同样的感觉。</p>
                <p>那么，新的疑问是，很多人检查后发现自己的血糖并不高，也有很多人发现糖尿病还不到一年的时间，医学上，如果糖尿病能够有神经并发症，一般病程往往会超过五年。没有糖尿病，手麻是怎么回事呢？</p>
                <img src="/images/newsImg05.jpg" alt="">
                <p>这个时候，我们要想到是不是颈椎的问题，最常见的是颈椎间盘突出症，因为突出的椎间盘压迫了神经，也会出现手麻的症状，不过这种麻木往往还会伴随放电样疼痛。</p>
                <p>如果在给予颈椎对症治疗后，患者手麻的症状会有明显改善。</p>
                <p>不过还有一种疾病，却更加紧急和凶险，那就是中风。</p>
                <p>对于突然出现的持续的无法缓解的手麻，同时伴随无力，活动障碍，那么做医生要引起高度重视，要警惕中风的发生，中风引起的手麻多是一边，所以中风引起的瘫痪也多是偏瘫。</p>
                <p>不同于糖尿病和颈椎病的是，中风一旦发生，如果发现和治疗不及时，就可能出现中风后遗症，这对患者本人和整个家庭来说都是巨大的灾难。</p>
                <p>所以在碰到手麻的患者时，医生一定要多问一些其他的伴随症状，比如有无头痛头昏，有无活动障碍，同时要为患者进行血压测量，实在不好判断，却又有中风高危因素的患者，应该做一个头部CT。</p>
            </div>
            <div ng-if="id=='6'">
                <h3>糖尿病人易陷入的几个误区</h3>
                <p>良好的血糖控制会大大延缓和减轻糖尿病并发症，使得糖尿病人能够和正常人一样的生活，并不影响寿命。但也有些糖尿病患者不遵医嘱，盲目听信社会传言或固执己见，踏入防治误区，影响了自己的健康。</p>
                <img src="/images/newsImg09.jpg" alt="">
                <h4>选贵药</h4>
                <p>经常听有些病人在诊病时要求用最好、最贵的药。其实药无贵贱，适者为好。目前治疗糖尿病药物有5~7大类，不同种类的药物适合于不同人群，不能乱用。选择用药应根据病人病情，包括糖化血红蛋白、胰岛功能、肝肾功能、是否肥胖等因素，综合考虑决定，价格高的并不见得适合你。</p>
                <h4>坚持一种方案</h4>
                <p>此类病人很固执，对医生初次诊治时制定的治疗方案，感觉有效便连续多年一直使用，不愿更改。这是错误的。治疗方案要根据病情变化及时调整，好比穿衣服，冷了要添衣，热了要减衣。医生当时给你的方案是根据当时的情况制定的，比如，有些病人只需打半年胰岛素，长期使用反而会增加体重，不利血糖控制。</p>
                <h4>只开药不检查</h4>
                <p>很多病人认为只有开了药才是“看病”，检查都是浪费钱。其实糖尿病人更需要通过细致的检查，了解病情的发展变化，及时调整用药方案，以免盲目药。</p>
                <img src="/images/newsImg11.jpg" alt="">
                <h4>悲观态度</h4>
                <p>有些糖尿病人认为，糖尿病反正治不好，索性破罐破摔，饮食上率性而为，治疗上漫不经心，是不对的。糖尿病虽然不能治愈，但可以控制。只要坚持正确的治疗，糖尿病人同样可以获得长寿。</p>
                <h4>过分控制饮食</h4>
                <p>很多糖尿病人把控制饮食当作限制饮食，什么都不能吃，什么都不敢吃。这种做法是非常错误的。我们要求病人控制饮食，但一些必需的营养成分，比如一天三餐包含的必要蛋白质、脂肪等，还是要摄入的。长期无规则限食会造成营养不良，体质下降。至于怎么吃，要根据个人情况，在医生的指导下合理饮食，这样才有利于血糖控制。</p>
                <h4>拒绝早期用药</h4>
                <p>很多病人发现糖尿病时血糖并不高，因此忌讳服药。他们认为，只要一吃了药就断不了，要吃一辈子了。这种观点非常错误。早期糖尿病或者是糖尿病前期，血糖仅有轻微升高时给予积极干预，可以用最小剂量、最少数量的药物来控制，甚至可以逆转糖尿病前期，使之不发展成为糖尿病。因此，轻微的糖尿病是治疗的“黄金期”，错过了，就会放任血糖慢慢升高，逐步达到病人认为的所谓需服药阶段。而且早期服药和是否终生服药无关，终生服药是由疾病本身决定的，不是由服药的早晚决定的。</p>
            </div>
            <div ng-if="id=='7'">
                <h3>牙疼可能是心梗征兆</h3>
                <p>67岁的张大爷有烂牙，晚饭后突然觉得左侧牙痛，到医院口腔科检查，并没发现牙齿毛病。医生怀疑他是心梗，一查心电图，果真是。进行对应治疗后，病情得以稳定，牙也不痛了。张大爷却一直纳闷，自己的牙痛怎么跟心脏扯上关系了呢？</p>
                <p>急性心肌梗死（简称心梗）是供应心脏自身的血管——冠状动脉，由于急性、持续性缺血缺氧所引起的心肌坏死。临床上多有剧烈而持久的心前区或胸骨后疼痛，同时常伴有胸闷、气促、恶心、呕吐、面色苍白、大汗、心悸和濒死感等。也有部分心梗病人没有明显疼痛，或者疼痛症状不典型，临床上常以为是腹痛、坐骨神经痛、肩周炎等。上面的张大爷就是因为牙痛而发现的心梗。</p>
                <img src="/images/newsImg13.jpg" alt="">
                <p>临床上，因冠心病引发的牙痛称为“心源性牙痛”。我们的心脏上广泛分布着交感神经和副交感神经，这些神经同人体各部位之间存在着比较复杂的联系。当心肌某个部位发生梗塞时，刺激这个部位的植物神经，反射到躯体不同部位，就会出现疼痛，这就叫“放射痛”。比如，下壁心肌梗死就经常表现为上腹痛或腰腿痛，前壁心肌梗死则会出现放射性牙痛。</p>
                <p>心源性牙痛有以下特点：1.发作突然，可能有诱因，如情绪激动、疲劳过度或饱餐后；2.牙痛剧烈，但牙痛部位没有发现明确牙病；3.牙痛部位不确切，往往数个牙齿都感到疼痛，而一般牙痛都能找到相应的病牙部位；4.阵发性疼痛，经牙科处理及服用止痛药，仍不能解除牙痛；5.做心电图检查有心肌缺血改变。有心血管危险因素（如肥胖、高血压、高血脂、糖尿病等）的病人，尤其老年人出现不明原因的牙痛，应该考虑是心梗。</p>
                <p>心源性牙痛可能引起致命后果，应及时到医院进行心电图、心肌钙蛋白等检查，必要时进行冠状动脉造影检查。治疗方案包括药物治疗、支架介入治疗及外科手术治疗。预防措施除控制上面介绍的心血管病危险因素外，还应合理膳食、戒烟限酒、适度运动、平衡心态等。</p>
            </div>
            <div ng-if="id=='8'">
                <h3>安度晚年离不开良好的心态</h3>
                <p>很多人在退休以后，一时之间还无所适从。这个时候就要慢慢地转变心态，安心地享受老年的生活。</p>
                <img src="/images/newsImg02.jpg" alt="">
                <p>一、积极参与生活</p>
                <p>人退休之后，生活的主题与以前发生了很大的变化。而培养一门兴趣也成为了重要的事。无论在什么情况下，把握住热情，并与之为友，那么埋在心头的阴霾就能驱散。当自己不悦时，将全部精力投入到丰富多彩的生活中，就会感到其乐无穷。老人可以养小动物，可以养花草，可以种菜，可以下棋，可以学手工等等。</p>
                <p>二、不做妄想</p>
                <p>人老之后，社会活动的参与度下降，与之前自力更生相对而言，需要更多地依靠子女及愿意帮助自己的人。所以要慢慢接受这个事实，并学会接受别人的帮助。而对别人多一些理解和宽容，少一些固执和偏激，也能使自己有一个幸福的晚年。</p>
                <p>三、变得明智</p>
                <p>对任何矛盾要从两方面同时加以考虑，不能太过于主观。晚辈可能会有很多和你不一样的想法，你要学会包容和接受这种差异，而不是单纯地以自己的想法强加到他们身上。“风物长宜放眼量，牢骚太盛防断肠”。把事情看开了，心胸就能开阔，情绪自然就能保持稳定。</p>
                <p> 四、保有童心</p>
                <p>任何事都有两面，对于老年人来说，重要的是你盯住哪一面。树立乐观的态度，是克服不良消极情绪的制胜法宝。每个人可以依据自己的情况，去设想和创造一个心情愉快的环境。情绪虽有外界因素，但人是可以控制情绪的。困难面前不气馁，委屈面前不怨人，知足者常乐。保持童心可以减缓岁月对你的侵蚀，也会感觉自己变得年轻。</p>
            </div>
            <div ng-if="id=='9'">
                <h3>老年人冬季晨练六不宜</h3>
                <p> 老年人冬季出去晨练，应注意：</p>
                <p>不宜“早”。</p>
                <p>早晨气温低、雾气重、温度大，易患感冒、气喘、“老慢支”和肺心病等，还会使病情加重。故老年人宜在太阳初升后外出锻炼，这时的空气才真正清新。</p>
                <p>不宜“空”。</p>
                <p>晨起血流相对缓慢，血压、体温偏低，且经过一夜的消化，腹中空空。故晨练前应适当喝点热饮，如牛奶、蛋汤、豆浆和稀粥等，以补充人体水分，增加热量，加速血液循环，可防止心脑血管意外的发生。</p>
                <img src="/images/newsImg14.jpg" alt="">
                <p>不宜“露”。</p>
                <p>大清早去户外活动，要选择避风向阳、温暖安静、空气新鲜的旷野或有草坪的地方锻炼，不要顶风跑，更不要未锻炼先脱衣露体，以免着凉感冒。</p>
                <p>不宜“激”。</p>
                <p>老年人体质较弱，适应能力差，故运动不宜激烈，要量力而行，循序渐进，适度为宜。可多作些低运动量和舒缓的运动，如散步、慢跑、打太极拳、做健身操、舞剑等。实践证明，老年人作激烈运动容易诱发心肺疾病，不利于身心健康。</p>
                <p>不宜“急”。</p>
                <p>即不作无准备的锻炼。因老年人早晨起床后，肌肉松驰，关节、韧带僵硬，锻炼前应先做准备活动，如甩甩手臂，轻揉躯体，扭扭腰肢，活动活动关节，放松肌肉，待热身后再进行锻炼，防止行运过急而诱发意外伤害。</p>
                <p>不宜“猛”。</p>
                <p>即猛蹲、猛立、猛回头。一般来说，老年人多有不同程度的脑动脉硬化、高血压、高血脂、颈椎骨质增生等症，大脑供血有一定程度的不足。若猛然蹲、立或猛回头向后看，会使大脑供血不足而出现眩晕、耳鸣、眼花、恶心、呕吐等症状，甚至会骤然昏倒。因此，老年人锻炼时速度要慢，动作要缓，切莫猛蹲、猛立、猛回头，以免发生意外。</p>
            </div>
            <div ng-if="id=='10'">
                <h3>心衰的特殊表现应引起注意</h3>
                <p>随着年龄的增长，老年人群中心力衰竭的患病率也会升高。值得注意的是，相当一部分老年心脏病患者，心功能已经不全，却缺少心衰的典型表现或被其他疾病的症状所掩盖，即所谓隐性心衰，故常易被人们忽视。心衰还有一些特殊表现，易被误认为其他疾病，也应引起注意。</p>
                <img src="/images/newsImg10.jpg" alt="">
                <p>纳差、腹胀、腹泻，貌似胃肠炎。这种情况主要见于右心衰。由于右心回流血液受阻，使体循环的静脉压升高，导致胃肠道、肝、胆等内脏瘀血，患者出现食欲不振、腹胀、恶心、呕吐等症状，病情严重者还可因胃肠平滑肌缺血性痉挛而导致腹痛、腹泻。如果不详细询问病史及查体（右心衰一般有肝大、下肢浮肿、颈静脉怒张等阳性体征），很容易被误诊为慢性胃肠炎等消化道疾病。</p>
                <p>尿少、浮肿，貌似肾脏疾病。心衰病人由于心排血量降低，体循环瘀血，有效循环血量减少，肾血流不足，而导致24小时总尿量减少，夜尿相对增多。但与肾脏病不同的是，心源性水肿多从人体的足踝、小腿等下垂部位开始，而肾性水肿常常首先出现在面部。另外，心源性水肿病人尿常规多正常，且同时伴有心衰的其他症状和体征。</p>
                <p>情绪或精神异常，貌似老年性精神病或脑病。有些老年心衰患者精神症状表现突出，如头晕、失眠、烦躁不安、幻觉、谵妄、意识不清甚至昏迷等，这主要是由于老年人都存在不同程度的脑动脉硬化及脑供血不足，在心衰时由于心输出量下降，则脑缺血症状会进一步加重。另外，由心衰继发的水、电解质紊乱，引起脑代谢异常，也是导致精神障碍的一个重要原因。如不注意鉴别，很容易被误诊为老年性精神病、脑卒中、脑肿瘤等。</p>
                <p>咳嗽、气喘，貌似气管炎、哮喘病。左心衰最初多表现为频繁干咳或胸闷气喘，活动及劳累时尤甚；也有的在夜间突然被憋醒，呼吸短促，被迫坐起后症状才逐渐缓解。这是由于左心衰导致肺瘀血及支气管黏膜水肿、分泌物增多，使呼吸道通气受阻所致。由于老年人多有慢性支气管炎、肺气肿等慢性肺部疾患病史，因而当心衰以呼吸道症状为突出表现时，易被误诊为支气管炎或哮喘发作。区别在于心源性咳喘与体位关系密切，卧位时症状重，坐（立）位时症状减轻，并且常常在夜间发作。</p>
            </div>

        </div>
    </ion-content>
</ion-view>