<ion-view style="background:#f8f8f8;">

        <div class="item" style="background:#fff;">
            <div class="list">
                <div class="item item-image" style="border:0px;">
                    <img src="images/activity_bj01.png">
                </div>
                <div class="serviceDetail_tit">
                    <div class="ng-binding">{{detailActivityInfo.activityName}}</div>
                    <div class="ng-binding">{{detailActivityInfo.activityAttendedNum}}人已报名</div>
                    <p class="ng-binding"><i class="icon"></i>{{detailActivityInfo.activityOwnerName}}</p>
                </div>
            </div>
        </div>
        <div class="tabs tabs-top tabs-striped" style="top:194px;background:#fff;border-bottom:0px;">
            <a ng-class="{true:'tab-item active',false:'tab-item'}[param.operation=='introduce']"
               style="border-color: #ff8e01;"
               ng-click="introduce()" class="tab-item active">
                <p>简介</p>
            </a>
            <a ng-class="{true:'tab-item active',false:'tab-item'}[param.operation=='discuss']"
               style="border-color: #ff8e01;"
               ng-click="discuss()" class="tab-item">
                <p>评论</p>
            </a>
        </div>
        <div ng-if="param.operation == 'introduce'" class="list" style="margin:50px 0px;">
            <a class="item item-avatar item-text-wrap serviceDetail_cont" style="border:none;background:#f8f8f8;padding-left:20px;">
                <h2><span>活动信息</span></h2>
                <p><i class="icon ion-location" style="margin:0 9px 0 3px;"></i>{{detailActivityInfo.activityAddress}}</p>
                <p><i class="icon ion-clock" style="margin-right:6px;"></i>{{detailActivityInfo.activityStartDate|date:'yyyy-MM-dd HH:mm'}}&nbsp;至&nbsp;{{detailActivityInfo.activityEndDate|date:'yyyy-MM-dd HH:mm'}}</p>
                <br>
                <h2><span>活动详情</span></h2>
                <p>{{detailActivityInfo.activityDetailInfo}}</p>
                <br/>
                <h2><span>主办方</span></h2>
                <p>{{detailActivityInfo.activityOwnerName}}</p>
            </a>
        </div>
    <ion-content>
        <div class="list" style="margin-top:252px;" ng-if="param.operation=='discuss'">
            <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
            <a class="item item-discussList item-thumbnail-left" ng-repeat="item in activityDiscussList">
                <img class="userPic" ng-src="{{item.weChatHeadPhoto}}">
                <h2>{{item.wechatNickName}}</h2>
                <span>发布于{{item.discussDate|date:'yyyy/MM/dd HH:mm:ss'}}</span>
                <p>{{item.discussContent}}</p>
            </a>
            <i class="icon ion-chevron-down" style="margin-left:50%;color:black;" ng-click="loadMoreDiscuss()"></i>
        </div>
	</ion-content>
    <div class="discussShade" ng-if="param.attendDiscuss">
        <div class="discussContainer">
            <p>
                <span ng-click="cancelDiscuss()">取消</span>
                <span style="margin-left:195px;color:blue" ng-click="submitDiscuss()">发表</span>
            </p>
            <textarea ng-model="param.discussContent"
                      placeholder="请输入评论内容"></textarea>
        </div>
    </div>
	<div class="bar bar-footer" style="background:#f8f8f8;padding:0px;margin-bottom:10px;"
         ng-if="detailActivityInfo.activityStatus != 'end'">
		<div class="button button-full button-energized subscribe-btn"
             style="font-size:16px;line-height:42px;"
             ng-if="param.operation=='introduce'&&param.activityAttendStatus=='0'"
             ui-sref="attendActivity({'activityId':param.activityId})">立即报名</div>
		<div class="button button-full button-energized subscribe-btn"
             style="font-size:16px;line-height:42px;"
             ng-if="param.operation=='introduce'&&param.activityAttendStatus=='1'"
             ng-click="attendActivityGroupTalk()">加入群聊</div>
		<div class="button button-full button-energized subscribe-btn"
             style="font-size:16px;line-height:42px;"
             ng-if="param.operation=='discuss'" ng-click="attendDiscuss()">评论</div>
	</div>
	<div class="bar bar-footer bar-energized" ng-if="detailActivityInfo.activityStatus == 'end'" style="background:#ccc;border-color:#ccc;">
		<div class="title">活动已结束</div>
	</div>
</ion-view>