<ion-view style="background:#f8f8f8;">
	<ion-content>
		<div ng-if="!param.attended">
			<div class="bar bar-header" style="height:60px;border-bottom:1px solid #ddd;">
				<div class="title" style="line-height:60px;">{{detailActivityInfo.activityName}}</div>
			</div>
            <div class="subscribeForm">
                <h2>请输入活动参与者信息</h2>
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="输入姓名" ng-model="activity.name">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="输入电话" ng-model="activity.phone">
                    </label>
                </div>
                <div style="background:#f8f8f8;padding-top:15px;">
                    <h2>活动信息</h2>
                    <p style="margin-left:15px;">
                        <i class="icon ion-location" style="margin:0 9px 0 3px;"></i>
                        {{detailActivityInfo.activityAddress}}
                    </p>
                    <p style="margin-left:15px;">
                        <i class="icon ion-clock" style="margin-right:6px;"></i>
                        {{detailActivityInfo.activityStartDate|date:'yyyy/MM/dd: HH:mm'}}&nbsp;
                        至&nbsp;{{detailActivityInfo.activityEndDate|date:'yyyy/MM/dd: HH:mm'}}
                    </p>
                </div>
            </div>
		</div>
		<div ng-if="param.attended">
            <img src="images/success.png" alt="" style="width:140px;margin-left:31%;margin-top:56px;">
            <button class="button button-full button-energized subscribe-btn"
                    ng-click="enterActivityGroupTalk()" style="margin-top:200px;">进入活动群聊</button>
		</div>
        <div ng-if="!param.attended">
            <button class="button button-full button-energized subscribe-btn"
                    ng-click="confirmAttend()" style="margin-top:40px;">立即报名</button>
        </div>
	</ion-content>
</ion-view>