<ion-view style="background:#f8f8f8;">
    <ion-content>
        <img src="images/success.png" alt="" style="width:140px;margin-left:31%;margin-top:56px;">
        <div ng-if="true" style="margin-top:30%;">
            <button class="button button-assertive"
                    style="width:38%;height:100%;margin-left:9%;background-color:#b2b2b2;border-radius:23px;"
                    ng-click="">健康数据
            </button>
            <button class="button button-assertive"
                    style="width:38%;height:100%;margin-left:3%;background-color:#ff8e01;border-radius:23px;"
                    ng-click="">老友首页
            </button>
        </div>
    </ion-content>
</ion-view>


