<meta name="format-detection" content="telephone=no">
<ion-view style="background:#f8f8f8;">
    <!--content start-->
    <div class="subscribeForm" style="padding-top:0px;">
        <h2 style="line-height:40px;">{{bloodSugar.measureDate || bloodSugar.nowDate}}</h2>
        <div class="list" style="background:#fff;height:215px;">
            <img ng-if="bloodSugar.measureNum < 20" src="images/bloodSugar_bj.png" alt="" style="width:40%;position:absolute;left:29%;top:30px;">
            <img ng-if="bloodSugar.measureNum > 20" src="images/bloodSugar_bj1.png" alt="" style="width:40%;position:absolute;left:29%;top:30px;">
            <div style="position:absolute;left:41%;top:68px;font-size:30px;color:#fff;text-align:center;line-height:30px;">
                <p>{{bloodSugar.measureNum}}</p>
                <p style="font-size:18px;">mmol/L</p>
            </div>
        </div>
        <div>
            <h2 style="padding-top:20px;">测量时间</h2>
            <p style="margin-left:15px;">
                {{bloodSugar.measureTime || bloodSugar.nowTime}}
                （{{bloodSugar.measureType}}）
            </p>
            <h2 style="padding-top:20px;">文字备注</h2>
            <p style="margin-left:15px;">
                {{bloodSugar.remark || '无'}}
            </p>
        </div>
    </div>
</ion-view>
