<ion-view style="background:#f8f8f8">
    <div ng-if="!hasData" class="bar bar-header">
        <div class="title">以下是数据示例</div>
    </div>
    <div class="tabs tabs-top tabs-striped" style="background:#fff;top:55px;">
        <a ng-class="{true:'tab-item active',false:'tab-item'}[secondMenu == 'bloodSugarCurve'||secondMenu == 'bloodSugarTable']"
           ng-click="goMenu('detection','bloodSugarCurve')">
            <p>血糖</p>
        </a>
        <a ng-class="{true:'tab-item active',false:'tab-item'}[secondMenu == 'bloodPressureCurve'||secondMenu == 'bloodPressureTable']"
           ng-click="goMenu('detection','bloodPressureCurve')">
            <p>血压/心率</p>
        </a>
    </div>
    <!--远程监测tab-->
    <div ng-if="firstMenu == 'detection' && hasData" style="margin-top:115px;">
        <div page-loading></div>
        <div ng-if="secondMenu == 'bloodSugarCurve'" style="overflow:auto;height:10rem;">
            <!--血糖content-->
            <div ng-if="dataLoad">
                <div class="contItemTit monitorTit">
                    凌晨血糖
                </div>
                <section class="monitorCurve bgf mb10">
                    <highchart style="width:7rem;height:5.1rem"
                               title='charts.bloodSugar.title'
                               series="charts.bloodSugar.dawnSeries"
                               options="charts.bloodSugar.options">
                    </highchart>
                </section>
            </div>
            <div ng-if="dataLoad">
                <div class="contItemTit monitorTit">
                    空腹血糖
                </div>
                <section class="monitorCurve bgf mb10">
                    <highchart style="width:7rem;height:5.1rem"
                               title='charts.bloodSugar.title'
                               series="charts.bloodSugar.beforeBreakFastSeries"
                               options="charts.bloodSugar.options">
                    </highchart>
                </section>
            </div>
            <div ng-if="dataLoad">
                <div class="contItemTit monitorTit">
                    早餐后血糖
                </div>
                <section class="monitorCurve bgf mb10">
                    <highchart style="width:7rem;height:5.1rem"
                               title='charts.bloodSugar.title'
                               series="charts.bloodSugar.afterBreakFastSeries"
                               options="charts.bloodSugar.options">
                    </highchart>
                </section>
            </div>
            <div ng-if="dataLoad">
                <div class="contItemTit monitorTit">
                    午餐前血糖
                </div>
                <section class="monitorCurve bgf mb10">
                    <highchart style="width:7rem;height:5.1rem"
                               title='charts.bloodSugar.title'
                               series="charts.bloodSugar.beforeLunchSeries"
                               options="charts.bloodSugar.options">
                    </highchart>
                </section>
            </div>
            <div ng-if="dataLoad">
                <div class="contItemTit monitorTit">
                    午餐后血糖
                </div>
                <section class="monitorCurve bgf mb10">
                    <highchart style="width:7rem;height:5.1rem"
                               title='charts.bloodSugar.title'
                               series="charts.bloodSugar.afterLunchSeries"
                               options="charts.bloodSugar.options">
                    </highchart>
                </section>
            </div>
            <div ng-if="dataLoad">
                <div class="contItemTit monitorTit">
                    晚餐前血糖
                </div>
                <section class="monitorCurve bgf mb10">
                    <highchart style="width:7rem;height:5.1rem"
                               title='charts.bloodSugar.title'
                               series="charts.bloodSugar.beforeDinnerSeries"
                               options="charts.bloodSugar.options">
                    </highchart>
                </section>
            </div>
            <div ng-if="dataLoad">
                <div class="contItemTit monitorTit">
                    晚餐后血糖
                </div>
                <section class="monitorCurve bgf mb10">
                    <highchart style="width:7rem;height:5.1rem"
                               title='charts.bloodSugar.title'
                               series="charts.bloodSugar.afterDinnerSeries"
                               options="charts.bloodSugar.options">
                    </highchart>
                </section>
            </div>
            <div ng-if="dataLoad">
                <div class="contItemTit monitorTit">
                    睡前血糖
                </div>
                <section class="monitorCurve bgf mb10">
                    <highchart style="width:7rem;height:5.1rem"
                               title='charts.bloodSugar.title'
                               series="charts.bloodSugar.beforeSleepSeries"
                               options="charts.bloodSugar.options">
                    </highchart>
                </section>
            </div>
            <div style="height:200px;"></div>
            <section class="footOptionTab">
                <a ng-click="goMenu('detection','bloodSugarTable')"><img src="images/slice_1.png"/></a>
                <ul>
                    <li ng-class="{'on': timeType == 'week'}" ng-click="chooseHealthDataTime('week')">周</li>
                    <li ng-class="{'on': timeType == 'month'}" ng-click="chooseHealthDataTime('month')">月</li>
                    <li ng-class="{'on': timeType == 'threeMonth'}" ng-click="chooseHealthDataTime('threeMonth')">三个月</li>
                    <li ng-class="{'on': timeType == 'halfYear'}" ng-click="chooseHealthDataTime('halfYear')">半年</li>
                </ul>
            </section>
        </div>
        <div ng-if="secondMenu == 'bloodSugarTable'"
             style="overflow:scroll;height:9rem">
            <table border="0" cellspacing="0" cellpadding="0"
                   class="tableRecord tableSugar" ng-if="dataLoad"
                   style="color:black;background:#fff;">
                <tr>
                    <th rowspan="2">日期</th>
                    <th rowspan="2">凌晨</th>
                    <th colspan="2">早餐</th>
                    <th colspan="2">午餐</th>
                    <th colspan="2">晚餐</th>
                    <th rowspan="2">睡前</th>
                </tr>
                <tr>
                    <th>空腹</th>
                    <th>后</th>
                    <th>前</th>
                    <th>后</th>
                    <th>前</th>
                    <th>后</th>
                </tr>
                <tr ng-repeat="item in healthDatas">
                    <td>{{item.date|date:'MM-dd'}}</td>
                    <td ng-click="goBloodSugarRecord(item.bloodSugar.dawn,'dawn',item.bloodSugar.dawnTime,'true',item.bloodSugar.dawnRemark)">{{item.bloodSugar.dawn}}</td>
                    <td ng-click="goBloodSugarRecord(item.bloodSugar.beforeBreakFast,'beforeBreakFast',item.bloodSugar.beforeBreakFastTime,'true',item.bloodSugar.beforeBreakFastRemark)">{{item.bloodSugar.beforeBreakFast}}</td>
                    <td ng-click="goBloodSugarRecord(item.bloodSugar.afterBreakFast,'afterBreakFast',item.bloodSugar.afterBreakFastTime,'true',item.bloodSugar.afterBreakFastRemark)">{{item.bloodSugar.afterBreakFast}}</td>
                    <td ng-click="goBloodSugarRecord(item.bloodSugar.beforeLunch,'beforeLunch',item.bloodSugar.beforeLunchTime,'true',item.bloodSugar.beforeLunchRemark)">{{item.bloodSugar.beforeLunch}}</td>
                    <td ng-click="goBloodSugarRecord(item.bloodSugar.afterLunch,'afterLunch',item.bloodSugar.afterLunchTime,'true',item.bloodSugar.afterLunchRemark)">{{item.bloodSugar.afterLunch}}</td>
                    <td ng-click="goBloodSugarRecord(item.bloodSugar.beforeDinner,'beforeDinner',item.bloodSugar.beforeDinnerTime,'true',item.bloodSugar.beforeDinnerRemark)">{{item.bloodSugar.beforeDinner}}</td>
                    <td ng-click="goBloodSugarRecord(item.bloodSugar.afterDinner,'afterDinner',item.bloodSugar.afterDinnerTime,'true',item.bloodSugar.afterDinnerRemark)">{{item.bloodSugar.afterDinner}}</td>
                    <td ng-click="goBloodSugarRecord(item.bloodSugar.beforeSleep,'beforeSleep',item.bloodSugar.beforeSleepTime,'true',item.bloodSugar.beforeSleepRemark)">{{item.bloodSugar.beforeSleep}}</td>
                </tr>
            </table>
            <div style="height:200px;"></div>
            <section class="footOptionTab">
                <a ng-click="goMenu('detection','bloodSugarCurve')"><img src="images/slice_2.png"/></a>
                <ul>
                    <li ng-class="{'on': timeType == 'week'}" ng-click="chooseHealthDataTime('week')">周</li>
                    <li ng-class="{'on': timeType == 'month'}" ng-click="chooseHealthDataTime('month')">月</li>
                    <li ng-class="{'on': timeType == 'threeMonth'}" ng-click="chooseHealthDataTime('threeMonth')">三个月</li>
                    <li ng-class="{'on': timeType == 'halfYear'}" ng-click="chooseHealthDataTime('halfYear')">半年</li>
                </ul>
            </section>
        </div>

        <div ng-if="secondMenu == 'bloodPressureCurve'&&dataLoad" style="overflow:scroll;height:9rem;">
            <!--血糖content start-->
            <div class="contItemTit monitorTit">
                血压
            </div>
            <section class="monitorCurve bgf mb10">
                <highchart style="width:7rem;height:5.1rem"
                           title='charts.bloodPressure.title'
                           series="charts.bloodPressure.pressureSeries"
                           options="charts.bloodPressure.options">
                </highchart>
            </section>
            <div class="contItemTit monitorTit">
                心率
            </div>
            <section class="monitorCurve bgf mb10">
                <highchart style="width:7rem;height:5.1rem"
                           title='charts.bloodPressure.title'
                           series="charts.bloodPressure.heartRateSeries"
                           options="charts.bloodPressure.options">
                </highchart>
            </section>
            <!--血糖content end-->
            <!--底部固定菜单开始-->
            <div style="height:200px;"></div>
            <section class="footOptionTab">
                <a ng-click="goMenu('detection','bloodPressureTable')"><img src="images/slice_1.png"/></a>
                <ul>
                    <li ng-class="{'on': timeType == 'week'}" ng-click="chooseHealthDataTime('week')">周</li>
                    <li ng-class="{'on': timeType == 'month'}" ng-click="chooseHealthDataTime('month')">月</li>
                    <li ng-class="{'on': timeType == 'threeMonth'}" ng-click="chooseHealthDataTime('threeMonth')">三个月</li>
                    <li ng-class="{'on': timeType == 'halfYear'}" ng-click="chooseHealthDataTime('halfYear')">半年</li>
                </ul>
            </section>
            <!--底部固定菜单结束-->
        </div>
        <div ng-if="secondMenu == 'bloodPressureTable'" style="overflow:scroll;height:9rem;">
            <table border="0" cellspacing="0" cellpadding="0" class="tableRecord tablePressure">
                <tr>
                    <th>日期</th>
                    <th>收缩压/高压</th>
                    <th>舒张压/低压</th>
                    <th>心率</th>
                </tr>
                <tr ng-repeat="item in healthDatas" ng-click="goBloodPressureRecord(item.measureTime,item.diastolic,item.systolic,item.heartRate,true,item.remark)">
                    <td>{{item.measureTime|date:'MM-dd'}}</td>
                    <td>{{item.diastolic}}</td>
                    <td>{{item.systolic}}</td>
                    <td>{{item.heartRate}}</td>
                </tr>
            </table>
            <div style="height:200px;"></div>
            <section class="footOptionTab">
                <a ng-click="goMenu('detection','bloodPressureCurve')"><img src="images/slice_2.png"/></a>
                <ul>
                    <li ng-class="{'on': timeType == 'week'}" ng-click="chooseHealthDataTime('week')">周</li>
                    <li ng-class="{'on': timeType == 'month'}" ng-click="chooseHealthDataTime('month')">月</li>
                    <li ng-class="{'on': timeType == 'threeMonth'}" ng-click="chooseHealthDataTime('threeMonth')">三个月</li>
                    <li ng-class="{'on': timeType == 'halfYear'}" ng-click="chooseHealthDataTime('halfYear')">半年</li>
                </ul>
            </section>
        </div>
    </div>
    <div ng-if="!hasData" class="list" style="padding-top:120px;">
        <img src="images/dataShow.png" style="width:100%;margin-bottom:40px;">
        <div class="item" style="overflow:inherit;white-space:inherit;line-height:28px;width:80%;margin:0 auto;">您目前还没有测量数据。健康监测属于养老机构提供的有偿服务，您暂时无法查看相关健康数据。</div>
    </div>
</ion-view>