<ion-view style="background:#2b2b2b;">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button" onclick="window.history.go(-1)"><</button>
        </div>
        <h1 class="title">活动群</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-avatar item-text-wrap" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                <img src="http://yhlofficial.oss-cn-beijing.aliyuncs.com/temp" style="z-index:-1;border-radius:0 0 0 0;">
                <h2 style="width:4.5rem;">双井社区老年歌舞大赛</h2>
                <span style="border-radius: 50%;
                            height: 16px;
                            width: 16px;
                            display: inline-block;
                            background: red;
                            vertical-align: top;
                            margin-left: -23px;
                            margin-top: -24px;
                            position: absolute;">
                    <span style="display: block;
                                color: #FFFFFF;
                                text-align: center;
                                font-size: 0.01rem;
                                margin-top: -2px;">9
                    </span>
                </span>
                <span class="item-note" style="margin-top:-20px;text-align:right;font-size:0.05rem">
                    <p style="font-size: 0.1rem">2017/06/23</p>
                    <p style="font-size: 0.1rem">34人参与</p>
                </span>
                <p>[语音]</p>
            </a>
        </div>
    </ion-content>
</ion-view>

