<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.wechat.mapper.WeChatAttentionMapper">

    <insert id="insertWeChatAttention">
      INSERT INTO `wechat_attention`
      (`openid`, `marketer`, `status`, `nickname`)
      VALUES
      (#{openid}, #{marketer},#{status}, #{nickname})
    </insert>


    <insert id="insertWeChatUserLocation" parameterType="com.wisdom.wechat.entity.WeChatUserLocation">
        INSERT INTO `wechat_user_location`
        (`openid`, `latitude`, `longitude`, `precision`)
        VALUES
        (#{openid}, #{latitude},#{longitude}, #{precision})
    </insert>

    <select id="getWeChatUserLocation" resultType="com.wisdom.wechat.entity.WeChatUserLocation">
       SELECT * FROM `wechat_user_location` where openid=#{openid}
    </select>

    <update id="updateWeChatUserLocation" parameterType="com.wisdom.wechat.entity.WeChatUserLocation">
        update wechat_user_location set latitude=#{latitude},longitude=#{longitude},precision=#{precision}
        where openid=#{openid}
    </update>

</mapper>