<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.living.mapper.LivingMapper">


    <update id="updateLivingService">
        UPDATE livingservice SET
        update_date=now()
        <if test="name!= ''and name!=null">
            ,name=#{name}
        </if>
        <if test="description!= ''and description!=null">
            ,description=#{description}
        </if>
        <if test="type!= '' and type!=null">
            ,type=#{type}
        </if>
        <if test="status!= '' and status!=null">
            ,status=#{status}
        </if>
        <if test="payment!= '' and payment!=null">
            ,payment=#{payment}
        </if>
        <if test="price!= '' and price!=null">
            ,price=#{price}
        </if>
        <if test="priceUnit!= '' and priceUnit!=null">
            ,priceUnit=#{priceUnit}
        </if>
        <if test="special!= '' and special!=null">
            ,special=#{special}
        </if>
        <if test="information!= '' and information!=null">
            ,information=#{information}
        </if>
        <if test="sys_office_id!= '' and sys_office_id!=null">
            ,sys_office_id=#{sys_office_id}
        </if>
        WHERE id = #{id}
    </update>

    <select id="getLivingService" resultType="com.wisdom.living.entity.LivingService">
        SELECT ls.*,so.name as officeName,count(lo.id) as count FROM `livingservice` ls
        inner join sys_office so on so.id=ls.sys_office_id
        left join livingservice_order lo on lo.livingservice_id=ls.id
        where ls.del_flag='0' and ls.status='0'
        <if test="id!= ''and id!=null">
            and ls.id=#{id}
        </if>
        <if test="name!= ''and name!=null">
            and ls.name=#{name}
        </if>
        <if test="type!= ''and type!=null">
            and ls.type=#{type}
        </if>
        <if test="sys_office_id!= ''and sys_office_id!=null">
            and so.id=#{sys_office_id}
        </if>
        group by ls.id
        order by ls.update_date
        limit #{lastNo},#{nextNo}
    </select>

    <select id="getLivingServiceOffice" resultType="com.wisdom.living.entity.LivingServiceOffice">
        select so.id,so.logo,so.name,lof.about,lof.announcement,count(l.id) as serviceCount,so.address from  sys_office so
        inner join livingService_office lof on so.id=lof.sys_office_id
        inner join livingservice l on so.id=l.sys_office_id
        where l.del_flag='0'
        <if test="id!= ''and id!=null">
            and so.id=#{id}
        </if>
        group by so.id
    </select>

    <select id="getLivingServiceOfficeCount" resultType="java.lang.String">
        select count(loi.id) as count  from livingservice l
        inner join livingservice_order lo on lo.livingservice_id=l.id
        inner join livingservice_order_information loi on lo.id=loi.livingservice_order_id
        where  loi.`status`='2'
        <if test="sysOfficeID!= ''and sysOfficeID!=null">
            and l.sys_office_id=#{sysOfficeID}
        </if>
        group by l.id
    </select>


</mapper>