<ion-view style="background:#f8f8f8;">
    <!--headerTitle start-->
    <!--<div page-loading></div>-->
    <!--<header>-->
        <!--<a href="javascript:history.go(-1)">返回</a>-->
        <!--<h1>{{elderName}}</h1>-->
        <!--<em></em>-->
    <!--</header>-->
    <!--<div class="empty10"></div>-->
    <!--headerTitle end-->
    <!--<div class="ordinaryTit">-->
        <!--<span>健康评估</span>-->
    <!--</div>-->
    <!--<section class="assessContainer bgf" style="overflow: auto;height: 12rem;">-->
        <!--<div class="assessTit">{{healthAssessmentResult.healthAssessmentTemplateName}}</div>-->
        <!--<div class="assessCont">-->
            <!--<p>尊敬的{{healthAssessmentResult.elderName}}及家属：</p>-->
            <!--<p>您好！{{healthAssessmentResult.healthAssessmentTemplateName}}评估，-->
                <!--认定{{healthAssessmentResult.elderName}}目前-->
                <!--{{healthAssessmentResult.healthAssessmentData}}-->
            <!--</p>-->
        <!--</div>-->
    <!--</section>-->
    <!--headerTitle end-->

    <!--headerTitle start-->

        <header>
            <a href="javascript:history.go(-1)">返回</a>
            <h1>{{elderName}}</h1>
            <em></em>
        </header>
        <div page-loading></div>
        <div class="empty10"></div>
        <!--headerTitle end-->
        <section class="healthFileReport bgf mb10">
            {{healthAssessmentResult.healthAssessmentTemplateName}}
        </section>
        <section class="AssessCont bgf">
            <p>尊敬的{{healthAssessmentResult.elderName}}及家属：</p>
            <p>
                {{displayResult}}
            </p>
        </section>

</ion-view>