<ion-view>
    <ion-content>
        <div class="userLocation">{{location}}</div>
        <img width="100%" src="/images/index_banner.png" alt="">
        <div class="indexIconList iconList">
            <a href="http://www.wellsunny.net/API/LogOn?token=7d2b701756e841adb161d14a0534776c&medical_code=63799983&url=%2fApp%2fIndex">
                <img src="/images/index_jkda.png" alt="">
                <p>健康档案</p>
            </a>
            <a href="">
                <img src="/images/index_jkpg.png" alt="">
                <p>健康评估</p>
            </a>
            <a href="">
                <img src="/images/index_jkjc.png" alt="">
                <p>健康监测</p>
            </a>
            <a href="">
                <img src="/images/index_jkgy.png" alt="">
                <p>健康干预</p>
            </a>
            <a href="">
                <img src="/images/index_jkfa.png" alt="">
                <p>健康方案</p>
            </a>
            <a href="">
                <img src="/images/index_zxys.png" alt="">
                <p>咨询医生</p>
            </a>
            <a href="">
                <img src="/images/index_jsz.png" alt="">
                <p>建设中</p>
            </a>
        </div>
        <div class="indexIconList">
            <a href="community/communityIndex.html">
                <img src="/images/index_lyzx.png" alt="">
                <p>老友智学</p>
            </a>
            <a ui-sref="livingServiceList({type:'short'})">
                <img src="/images/index_lyzj.png" alt="">
                <p>老友助家</p>
            </a>
            <a href="">
                <img src="/images/index_lyjw.png" alt="">
                <p>老友见闻</p>
            </a>
            <a href="">
                <img src="/images/index_jsz.png" alt="">
                <p>建设中</p>
            </a>
        </div>
        <div class="indexImg">
            <a href="project.html"><img src="/images/index_banner2.png" alt=""></a>
            <a href=""><img src="/images/index_banner3.png" alt=""></a>
            <a href="tel:120"><button class="button button-full button-energized button120">120 一键呼叫</button></a>
        </div>

    </ion-content>
</ion-view>